.chat-box-div {
    width: 500px;
    height: 100%;
    border: solid 1px #ffffff;
    background-color: #ffffffd9;
    border-radius: 2%;
    font-family: Sans-serif;
    box-shadow: 3px 10px 10px 10px #00000009;
}

.chat-box {
    width: 460px;
    height: 675px;
    margin: 25px 20px 25px 20px;
    overflow: scroll;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.assistant-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.assistant-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-right: 7px;
}

.assistant-msg {
    width: auto;
    height: auto;
    max-width: 80%;
    color: black;
    background-color: #e7e7e7;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    border-radius: 0px 8px 8px 8px;
    padding: 12px;
    line-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

.user-box {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 15px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-left: 7px;
}

.user-msg {
    width: auto;
    height: auto;
    max-width: 80%;
    color: white;
    background-color: #00274C;
    border-radius: 8px 0px 8px 8px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    padding: 12px;
    line-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

.record-listen {
    display: flex;
    width: 500px;
    height: 60px;
    justify-content: space-around;
    cursor: pointer;
}

.mic-box {
    display: block;
    padding-top: 10px;
    text-align: center;
    border: solid 2px #00274C;
    border-radius: 50%;
    /* background-color: #889e37ed; */
    width: 50px;
    height: 40px;
    font-size: 10px;
    font-weight: bold;
    transition: ease-in-out 0.2s;
}

audio {
    display: none;
}

.mail-message {
    margin: 10px 10px 0px 10px;
    font-style: italic;
}

.mail-subject {
    margin: 10px 10px 0px 10px;
    font-style: italic;
    font-weight: bold;
}
