.chat-box-div {
    width: 500px;
    height: 600px;
    border: solid 1px #00274C;
    background-color: #00274C;
    border-radius: 5%;
    font-family: Sans-serif;
}

.chat-box {
    width: 460px;
    height: 480px;
    margin: 25px 20px 25px 20px;
    overflow: scroll;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.assistant-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.assistant-avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-right: 7px;
}

.assistant-msg {
    width: auto;
    height: auto;
    max-width: 80%;
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
    padding: 7px;
    line-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

.user-box {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-bottom: 15px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin-left: 7px;
}

.user-msg {
    width: auto;
    height: auto;
    max-width: 80%;
    background-color: #FFFFFF;
    border-radius: 8px 8px 0px 8px;
    padding: 7px;
    line-height: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

.record-listen {
    display: flex;
    width: 500px;
    height: 50px;
    justify-content: space-around;
    cursor: pointer;
}

.mic-box {
    display: block;
    padding-top: 5px;
    text-align: center;
    border: solid 1px #00274C;
    border-radius: 20%;
    background-color: #FFCB05;
    color: #00274C;
    width: 50px;
    height: 45px;
    font-size: 10px;
    font-weight: bold;
}

audio {
    display: none;
}