.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #00274C;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-bar {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-bottom: solid #00274C 1.5px;
}

.nav-text {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
}

.header {
  display: block;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.instruction {
  display: block;
  font-size: 30px;
  /* margin-top: 100px; */
}

.record-listen {
  display: flex;
  width: 30%;
  height: 50px;
  padding-top: 20px;
  justify-content: space-around;
}

.foot {
  display: flex;
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: #00274C;
  bottom: 0;
}